<main>
    <div class="message">
        <img src="/_media/{{ .AvatarHost }}/{{ .Avatar }}" />
        <h2>{{.GuildName}}</h2>
        <p>{{.MemberCount}} Members</p>
        <a href="harmony://{{.Host}}/{{.InviteID}}" class="button">Open in the App</a>
        <a href="http://tempest.bluskript.vercel.app/join/{{.Host}}/{{.InviteID}}" class="button">View on the Web</a>
    </div>
</main>
